* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
  color: white;
}

/* HEADER */

header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
  z-index: 10;
}

header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

header a:hover {
  color: #b3b3b3;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.left-header img {
  width: 100px;
}

.right-header ul {
  gap: 20px;
}

/* HERO SECTION */

.main-hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Video background */
.main-hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Content over video */
.overlay-content {
  position: absolute;
  top: 30%;
  left: 60px;
  max-width: 600px;
}

.overlay-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.overlay-content p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 25px;
}

/* Buttons */

.btn {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 500;
  transition: 0.3s;
}

.play-btn {
  background-color: white;
  color: black;
}

.play-btn:hover {
  background-color: #e6e6e6;
}

.info-btn {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.info-btn:hover {
  background-color: rgba(109, 109, 110, 0.4);
}
.scroll-section{
  height: 250px;
  width: 100%;
  margin: 50px;
 
}
.scroll-section h1{
color: white;
}

.scroll-mian{
  height: 250px;
  width: 100%;
  overflow-x: scroll;
 display: flex;
 align-items: center;
 gap: 20px;
 scrollbar-width: none;

}
.box{
  width: 250px;
  height: 150px;
  background-color:rgb(152, 3, 3);
   flex-shrink: 0;
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  background: #000;
  color: #757575;
  padding: 50px 12%;
  font-family: Arial, sans-serif;
}

.footer-top {
  margin-bottom: 30px;
  font-size: 16px;
}

.footer-top span {
  cursor: pointer;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.footer-grid a {
  color: #757575;
  font-size: 13px;
  text-decoration: none;
}

.footer-grid a:hover {
  text-decoration: underline;
}

.footer-lang {
  margin-top: 30px;
  background: #000;
  color: #757575;
  border: 1px solid #333;
  padding: 8px 12px;
}

.footer-country {
  margin-top: 20px;
  font-size: 13px;
}